

.nerd{
    position: absolute;
    top: 65px;
    right: -244px;
    width: 250px;
    visibility: hidden;
  }

  .makeup{
    position: absolute;
    top: 62px;
    height: 500px;
    right: -300px;
    visibility: hidden;
  }

.tear{
  position: absolute;
  top: 145px;
  right: -185px;
  visibility: hidden;
}
.disguise{
  position: absolute;
  top: 60px;
  right: -315px;
  visibility: hidden;
}
.fedora{
  position: absolute;
  top: -60px;
  right: -250px;
  visibility: hidden;
}
.drip{
  position: absolute;
  top: 28px;
  right: -278px;
  visibility: hidden;
}
/*830*/

.accToggle1{
  width: 50px;
  right: 300px;
  top: 390px;
  position: absolute;
  border-radius: 10px 10px 10px 10px;
  background-color: rgb(54,57,62);
}
.accToggle1:hover{
  background-color: rgb(74,77,82)
}

.lock{
  width: 35px;
  height: 30px;
}

.accToggle2{
  width: 50px;
  right: 240px;
  top: 390px;
  position: absolute;
  border-radius: 10px 10px 10px 10px;
  background-color: rgb(54,57,62)
}
.accToggle2:hover{
  background-color: rgb(74,77,82);
}

.accToggle3{
  width: 50px;
  right: 180px;
  top: 390px;
  position: absolute;
  border-radius: 10px 10px 10px 10px;
  background-color: rgb(54,57,62);
}
.accToggle3:hover{
  background-color: rgb(74,77,82);
}
.accToggle4{
  width: 50px;
  right: 120px;
  top: 390px;
  position: absolute;
  border-radius: 10px 10px 10px 10px;
  background-color: rgb(54,57,62);
}
.accToggle4:hover{
  background-color: rgb(74,77,82);
}
.accToggle5{
  width: 50px;
  right: 60px;
  top: 390px;
  position: absolute;
  border-radius: 10px 10px 10px 10px;
  background-color: rgb(54,57,62);
}
.accToggle5:hover{
  background-color: rgb(74,77,82);
}
.accToggle6{
  width: 50px;
  right: 0px;
  top: 390px;
  position: absolute;
  border-radius: 10px 10px 10px 10px;
  background-color: rgb(54,57,62);
}
.accToggle6:hover{
  background-color: rgb(74,77,82);
}