
  .upgbuttongroup{
    right: 0px;
    top: 0px;
    position: absolute;
    border-radius: 10px 10px 10px 10px; 
  }
  
  .upgbutton1{
    margin-bottom: 0.4cm;
    right: 0px;
      top: 0px;
      position: absolute;
  }
  
  .upgbutton2{
    margin-bottom: 0.4cm;
    right: 0px;
      top: 65px;
      position: absolute;
  }
  
  .upgbutton3{
    margin-bottom: 0.4cm;
    right: 0px;
      top: 130px;
      position: absolute;
  
  }
  
  .upgbutton4{
    margin-bottom: 0.4cm;
    right: 0px;
      top: 195px;
      position: absolute;
  
  }
  
  .upgbutton5{
    margin-bottom: 0.4cm;
    right: 0px;
      top: 260px;
      position: absolute;
  
  }
  
  .upgbutton6{
    right: 0px;
      top: 325px;
      position: absolute;
  
  }
  