
  .dealer{
    /*background-color:rgb(236, 225, 122);*/
    width: 350px;
    height: 150px;
    align-self: Center;
    font-family: 'Indie Flower', cursive;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 0px;
    right: 0px;
    top: 480px;
    position: absolute;
    visibility: hidden;
  }

  .breeder{
    /*background-color:rgb(236, 225, 122);*/
    width: 350px;
    height: 150px;
    align-self: Center;
    font-family: 'Indie Flower', cursive;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 0px;
    right: 0px;
    top: 480px;
    position: absolute;
    visibility: hidden;
  }

  .market{
    /*background-color:rgb(236, 225, 122);*/
    width: 350px;
    height: 150px;
    align-self: Center;
    font-family: 'Indie Flower', cursive;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 0px;
    right: 0px;
    top: 480px;
    position: absolute;
    visibility: hidden;
  }

  .ranch{
    /*background-color:rgb(236, 225, 122);*/
    width: 350px;
    height: 150px;
    align-self: Center;
    font-family: 'Indie Flower', cursive;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 0px;
    right: 0px;
    top: 480px;
    position: absolute;
    visibility: hidden;
  }

  .mine{
    /*background-color:rgb(236, 225, 122);*/
    width: 350px;
    height: 150px;
    align-self: Center;
    font-family: 'Indie Flower', cursive;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 0px;
    right: 0px;
    top: 480px;
    position: absolute;
    visibility: hidden;
  }

  .factory{
    /*background-color:rgb(236, 225, 122);*/
    width: 350px;
    height: 150px;
    align-self: Center;
    font-family: 'Indie Flower', cursive;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 0px;
    right: 0px;
    top: 480px;
    position: absolute;
    visibility: hidden;
  }

  div.dealerdiv:hover .dealer{
    visibility: visible;
   }
   
  div.breederdiv:hover .breeder{
    visibility: visible;
  }

  div.marketdiv:hover .market{
    visibility: visible;
  }

  div.ranchdiv:hover .ranch{
    visibility: visible;
  }

  div.minediv:hover .mine{
    visibility: visible;
  }

  div.factorydiv:hover .factory{
    visibility: visible;
  }