.mailbutton{
    top: 0px;
    right: 365px;
    width: 50px;
    position: absolute;
    border-radius: 10px 10px 10px 10px;
}

.mailimg{
    height: 25px;
    width: 33px;
}

.mail:hover .mailimg{
    animation: bounce 2.5s ease-in-out forwards infinite;
}

@keyframes bounce{
    0%{
      transform: translateY(-0px);
    }

   16.6%{
     transform: translateY(-10px);
   }

   33.2% {
     transform: translateY(-0px);

   }

   49.8% {
     transform: translateY(-5px);
   }

   66.4% {
     
     transform: translateY(-0px);
   }

   83% { 
     transform: translateY(-2.5px)
   }

    100% {
     transform: translatey(-0px);
     }
  }