html{
    user-select: none;
    background-image: url(images/meadow.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 1;
    background-color: rgb(100,144,57);
  
  }
  body{
    font-family: 'Indie Flower', cursive;
    text-align: center;
    font-size: 24px;
  }
  img{
    -webkit-user-drag:none;
  }

  .infotxt{
    position: absolute;
    left: 10px;
    top: 10px;
  
  }
  .resetbutton{
      margin-top: 0px;
      width: 80px;
      height: 20px;
      font-size: 10px;
      top: 370px;
      left: 10px;
      position: inherit;
  }

  .ChickenButton{
    width: 475px;
    height: 492px;
    left: 0px;
    z-index: 2;

    position: relative;
}
  
.clickspot{
  position: absolute;
  height: 546px;
  width: 527px;
  right: -264px;
  z-index: 3;
  background-color: red;
  opacity: 0%;
  visibility: visible;
}

.ChickenButtonimg {
  width: 527px;
  height: 546px;
  opacity: 100%;
  }

.clickspot:active .ChickenButtonimg{
  width: 500px;
    height: 546px;
}
  button{
    background-color:rgb(236, 225, 122);
    width: 350px;
    height: 50px;
    align-self: Center;
    font-family: 'Indie Flower', cursive;
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 0px;
  }
  button:hover{
    background-color: rgb(240, 233, 168);
  }
  .reset{
      width: 50px;
      height: 25px;
      align-self:center;
      font-size: 14px;
      
  }