.upgradebkg{
    /*background-color: rgb(100,144,57);*/
    left: 10px;
    position: absolute;
    width: 315px;
    top: 250px;
    height: 400px;
}

.upgradebtn{
    width: 70px;
    height: 70px;
    box-shadow: 10px;
    border-radius: 10px 10px 10px 10px; 
    font-size: 12px;
    
}

.ClickText{
    visibility: hidden;
    position: absolute;
    left: 75px;
    top: 27px;
    font-family: 'Indie Flower', cursive;
    font-size: 15px;
    font-weight: bold;
}

div.upgradebtn:hover .ClickText{
    visibility: visible;
}